body{
    font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
    font-weight: normal;
    color: #404040;
    min-height: 100%;
    overflow-x: hidden;
    background-color: #e3e3e3;
    margin-top: 0px;
}

/* footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #45a1ff;
    color: #fff;
    position: absolute; bottom: 0; left: 0; right: 0;
} */

.hdTOC{
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 10px;
}

.hdTOC img {
    float: left;
    width: 20%;
    margin-bottom: 10px;
}

.hdTOC h2 {
    position: relative;
    margin: 0;
    top: 18px;
    left: 10px;
}

#bdTOC{
    margin-bottom: 50px;
}

#ftTOC{
    bottom: 0%;
    position: fixed;
    background-color: #343131;
    height: 40px;
    width: 293px;
    font-size: 10pt;
    padding-top: 10px;
}

#menu{
    width: 300px;
    background-color: #343131;;
    color: #fcfcfc;
    border: 0.5px solid #484848;
    position: fixed;
    top: 0px;
    left: 0px;
    float: left;
    overflow-x: hidden;
    overflow-y: scroll;
    /* overflow-y: scroll; */
    height: 100%;
    /* padding-left: 5px; */
}

#menu_md{
    display: none;
}

.toc{
    background-color: #e3e3e3;
    color: #484848;
    /* margin-top: 40px; */
    /* border-radius: 5px; */
    /* margin-left: 5px; */
    /* margin-right: 5px; */
}

.toc ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.toc li a{
    color: #484848;
    text-decoration: none;
}

.toc li {
    padding: 5px;
    /* border: 0.5px solid #b9b9b9; */
    list-style: none;
}

.toc ul li:hover{
    background-color: #b9b9b9;
	/* font-weight: bold; */
}

.toc ul li ul li:hover{
	/* background-color: #b9b9b9; */
    font-weight: bold;
}

.toc ul li ul li{
    font-size: 12px;
}


#menu::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#menu::-webkit-scrollbar{
	width: 7px;
	background-color: #F5F5F5;
}

#menu::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

#tuto{
    margin: 0;
    background: #fcfcfc;
    float: right;
    width: 70%;
    top: 0px;
    margin-right: 3%;
    padding-left: 5px;
    padding-right: 5px;
}

code:not(.sourceCode):not(.other){
    white-space: nowrap;
    max-width: 100%;
    background: #fff;
    border: solid 1px #e1e4e5;
    font-size: 75%;
    padding: 0 5px;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",Courier,monospace;
    color: #E74C3C;
    overflow-x: auto;
}

div.sourceCode{
    border-radius: 7px;
    font-family: Consolas, Monaco, monospace;
    font-size: 10pt;
    /* font-size: small; */
    padding: 10px;
    background: #fff4e4;
    color: #714930;
    overflow-x:scroll;
}

/* .hljs{
    background:#1c1d21;
    color:#c0c5ce
} */

.co{
    color:#a57a4c;
}

.st{
    color:#889b4a;
    /* color:#56bd0c; */
}

.kw{
    color:#319da5;
    /* color:#319da5; */
}

.dt,.dv{
    color:#cf740b;
}

/* .op{
    color: red;
} */

pre{
    margin: 0px;
}

img{
    width: 80%;
}

figcaption {
    text-align:center;
    font-size: small;
    text-decoration: underline;
}

.collapsible{
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    /* font-size: 1.2vw; */
    font-size: 10pt;
}
  
.active, .collapsible:hover {
    background-color: #555;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 0px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    max-height: 500px;
}

.content#view{
    transition: max-height 0.5s ease-out;
}

.content:not(#view) {
    max-height: 0;
}

.toc li:hover{
    background-color: #b9b9b9;
}
